<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>My Chart.js Chart</title>
</head>

<body
  onload="create_graph('myChart',{{userid}},{{followers}},'Follower Analytics');create_graph('like1',{{userid}},{{l1}},'First post Analytics');create_graph('like1',{{userid}},{{l2}},'Second post Analytics');create_graph('like1',{{userid}},{{l3}},'Third post Analytics');">
  <div class="container">
    <div class="row">
      <div class="col">
        <canvas id="myChart"></canvas>
      </div>
      <div class="col">
        <canvas id="like1"></canvas>
      </div>
    </div>


    <div class='row'>
      <div class="col">

        <canvas id="like2"></canvas>

      </div>
      <!-- <div class="col"> -->
      <div class="col">

        <canvas id="like3"></canvas>

        <!-- </div> -->
      </div>

    </div>


  <script>
    function create_graph(id,userid,followers,head_ing){
    let myChart = document.getElementById(id).getContext('2d');
        Chart.defaults.global.defaultFontFamily = 'Lato';

    // Global Options
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';
    // val={{data|safe}}       
    // console.log(val.dataset)   
    ids = userid    //{{userid}}
    followers= followers  //{{followers}}          
    let massPopChart = new Chart(myChart, {
      type:'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:ids,
        datasets:[{
          label:'followers',
          data:followers
          ,
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(75, 192, 192, 0.6)',
            'rgba(245, 203, 66,1.0)', //yellow
            'rgba(255, 99, 132, 0.6)',
            'rgba(54, 162, 235, 0.6)',
            'rgba(255, 206, 86, 0.6)',
            'rgba(153, 102, 255, 0.6)',
            'rgba(255, 159, 64, 0.6)',
            'rgba(255, 99, 132, 0.6)'
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:head_ing,
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
    }
</script>
</body>
</html>

